# API spec in YAML
swagger: '2.0'
info:
  title: Inventage Demonstration Services
  description: This services demonstrate the power of well documented, standardized REST API used for arbitrary services.
  version: "1.0.0"
# the domain of the service
host: api.uber.com
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /v1
produces: 
  - application/json
paths:
  /holiday:
    get:
      summary: Public holidays for the city of Zurich
      description: |
        The holiday endpoint returns information about the public holiday for the city of
        Zurich including the public holidays of the Canton of Zurich and the public 
        holidays of Switzerland. The response includes the dates for the specified year and
        the display names in German in ascending order of the dates.
      parameters:
        - name: year
          in: query
          description: The year.
          required: true
          type: number
          format: int
      tags:
        - Public Holidays
      responses:
        200:
          description: An array of holidays.
          schema:
            type: array
            items:
              $ref: '#/definitions/Holiday'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Holiday:
    properties:
      date:
        type: string
        format: date
        description: The date of the public holiday.
      name:
        type: string
        description: Description of product.
  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string